@define-color fg #c8c4c1;
@define-color fg2 #86cecb;

* {
    font-family: 'Roboto', 'Noto Sans', 'Noto Sans CJK JP';
    font-size: 14px;
}

#workspaces, #clock {
    font-family: 'Jetbrains Mono', 'Roboto', 'Noto Sans', 'Noto Sans CJK JP';
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
    -gtk-icon-effect: dim;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #137a7f;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: none;
    /* box-shadow: inset 0 -3px #137a7f; */
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @fg;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    /* box-shadow: inset 0 -2px #86cecb; */
    color: @fg2;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #137a7f;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#custom-systemd-backup,
#custom-systemd-hisame,
#custom-next-event {
    padding: 0 8px;
    color: #86cecb;
}

#clock {
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0);
    /* color: #bec8d1; */
    color: #86cecb;
}

#window,
#workspaces {
    margin: 0 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging, #battery.plugged {
    background-color: transparent;
}

#battery {
    background-color: rgba(255, 98, 0, 0.2);
}

@keyframes blink {
    to {
        background-color: #137a7f;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #137a7f;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    background-color: rgba(245, 60, 60, 0.2);
}

#wireplumber {
    background-color: rgba(241, 196, 15, 0.2);
    color: rgba(255, 255, 255, 0.4);
}

#wireplumber.muted {
    background-color: transparent;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: transparent;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

#mpris.playing {
  background: rgba(241, 196, 15, 0.2);
  color: rgba(255, 255, 255, 0.4);
}

#mpris:not(.playing) {
  color: #2a5c45;
}

#custom-systemd-backup:not(.success), #custom-systemd-hisame:not(.success) {
  background-color: rgba(255, 98, 0, 0.2);
}

.upcoming {
  background-color: rgba(241, 196, 15, 0.2);
  color: rgba(255, 255, 255, 0.4);
}
